footer {
	background-color: #f1f1f14d;
	padding-top: 50px;
	.events-top {
		margin-top: 7px;
	}
	p {
		color: $black;
		font-size: 0.9rem;
	}
	h5 {
		opacity: 0.8;
		color: $black;
		font-weight: 900;
		font-size: 1.3rem;
	}
	h6 {
		font-weight: 900;
	}

	a:not(.social-media a) {
		text-decoration: none;
		color: $black;
		opacity: 0.65;
		font-family: "Poppins", sans-serif;
		font-size: 0.9rem;
		&:hover {
			opacity: 1;
			color: $primary;
		}
	}
	.footer-logo {
		width: 100px;
		height: auto;
	}

	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			padding-bottom: 10px;
			.links {
				opacity: 0.65;
				font-family: "Poppins", sans-serif;
				font-size: 0.9rem;

				&:hover {
					opacity: 1;
					color: $primary;
				}
			}
		}
		&.social-media {
			margin-bottom: 30px;
			li {
				display: inline-block;
				padding: 0 20px 0 0;
			}
			.icon {
				width: 24px;
				height: 24px;
				filter: grayscale(1);
				&:hover {
					filter: grayscale(0);
				}
			}
		}
	}
	.copyright-div {
		border-top: 1px solid #ddd;
		padding: 20px 0;
		font-size: 0.9rem;
		margin-top: 50px;

		a {
			text-decoration: none;
			color: $black;
			font-family: "Poppins", sans-serif;
			opacity: 0.8;
			font-weight: normal;
			&:hover {
				color: $primary;
				opacity: 1;
			}
			margin-bottom: 0;
		}
		p {
			color: $black;
			margin-bottom: 0;
			font-size: 0.9rem;
		}
	}
	.fixed-footer {
		position: fixed;
		right: 20px;
		bottom: 20px;
		z-index: 11111;
		@media (min-width: 768px) {
			right: 50px;
			bottom: 50px;
		}
		a {
			opacity: 1 !important;
		}

		.whatsapp-icon {
			width: 50px;
			height: 50px;
			z-index: 1111;
			opacity: 1 !important;
		}
	}
}

.frame-footer {
	width: calc(100% - 24px);
	height: 115px;
	position: absolute;
	z-index: 111;
	right: 12px;
	bottom: 5px;
	background-color: #f3f3fe;
	border-radius: 0 0 20px 20px;

	// Medium devices (tablets, 768px and up)
	@media (min-width: 768px) {
		width: calc(100% - 24px);
	}

	// Large devices (desktops, 992px and up)
	@media (min-width: 992px) {
		width: calc(100% - 12px);
	}

	// X-Large devices (large desktops, 1200px and up)
	@media (min-width: 1200px) {
		width: calc(100% - 12px);
		border-radius: 0 0 20px 0;
	}

	// XX-Large devices (larger desktops, 1400px and up)
	@media (min-width: 1400px) {
	}
}
