.navbar-bg {
	background: linear-gradient(0deg, rgba(253, 128, 45, 0.0844713), rgba(253, 128, 45, 0.328169));
	background-repeat: no-repeat;

	.navbar-toggler {
		color: $primary;
	}

	.sriprasd-logo {
		width: 70px;
		@media (min-width: 768px) {
			width: 100px;
		}
		height: auto;
	}
	.nav-link {
		color: $black !important;
		padding: 10px 10px !important;
		@media (min-width: 1200px) {
			padding: 20px 0;
		}
		opacity: 0.9 !important;
		&:hover {
			color: $primary !important;
			opacity: 1 !important;
		}
		&:active {
			color: $primary !important;
			opacity: 1 !important;
		}
	}
	.navbar-collapse {
		padding: 0;
		@media (min-width: 768px) {
			padding: 20px 0;
		}
		background-color: #fefbfa3d;
		border-radius: 15px;
		border: 1px solid #ffc5a670;
	}

	&.fixed-top {
		background: #fff !important;
		transition: 0.5s ease-in-out;
		.sriprasd-logo {
			width: 60px;
			height: auto;
		}
		.navbar-collapse {
			@media (min-width: 768px) {
				padding: 0;
			}
			border: 1px solid #ffc5a699;
		}
	}
}

.navbar .dropdown-menu-end {
	right: 0;
	left: auto;
}
.navbar .nav-item .dropdown-menu {
	display: block;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
	margin-top: 0;
}
.navbar .nav-item:hover .nav-link {
	color: #fff;
}
.navbar .dropdown-menu.fade-down {
	top: 80%;
	transform: rotateX(-75deg);
	transform-origin: 0% 0%;
}
.navbar .dropdown-menu.fade-up {
	top: 180%;
}
.navbar .nav-item:hover .dropdown-menu {
	transition: 0.3s;
	opacity: 1;
	visibility: visible;
	top: 100%;
	transform: rotateX(0deg);
}
