.about-section {
	.sriprasad-guruji {
		border-radius: 10px;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
		}
		&.social-media {
			margin-bottom: 30px;
			li {
				display: inline-block;
				padding: 0 20px 0 0;
			}
			.icon {
				width: 24px;
				height: 24px;
				filter: grayscale(1);
				&:hover {
					filter: grayscale(0);
				}
			}
		}
	}
}

.education-section,
.spiritual-section,
.iandyou-green-section {
	background-color: #ffeee580;
}
.childhood-section,
.workshop-section {
	background-color: #fbfbfb;
}
